/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit;}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/* Begin site styles... */

/* Using a Major Third modular scale:
*  https://www.modularscale.com/?18&px&1.25
*/
/*Base Styles*/
/*Base Styles*/
html{
  font-family: 'Roboto',Helvetica, Arial,sans-serif;
  font-size: 1.125em; /*16px = 1em (target (18px) / context (16px) = result) */
  padding: 1.22222222em 1.83333333em; /* 33px / 18px = 1.83333333em */
  line-height: 1.2515644556em;
  background-color: #E6CEAE;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body{
  line-height: 1.22222222em; /* 18px * 1.2 = 22*/ /* 22px / 18px = result*/
}
h1{
  display:block;
  font-family: 'Fire Sans',Helvetica, sans-serif;
  font-size: 1.9531111111em; /*35.156px /18px = 1.953em*/
  line-height: 1.2515644556em; /* 44 / 35.156 = 1.2515644556 */

}
b{
  display:block;
  font-family: 'Noto Sans', sans-serif;
}
h2{
  font-size: 1.563em;
  color: #591818;
}
h1,h2,h3{
  text-align: center;
}

img{
  display: block;
  max-width: 100%;
}

p{
  padding-bottom: 1.22222222em;/* 22px / 18px = result*/
}

/* Layout */
.headline{
  text-align: center;
  font-weight: center;
  padding: 10px;
  font-size: 1.125em;
  margin: auto;
  border-bottom: 0.3055555556em solid;/* 5.5px / 18px = 0.3055555556*/
}
.headline h1{
  color: #024059;
}


.photo{
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
	margin-bottom: 1.2222222222em; /* 22px / 18px = result*/
  /* padding: 0.6111111111em; /* 11px / 18px = result*/
}
.photo figcaption{
	padding-top: 0.6111111111em; /* 11px / 18px = result*/
	left: -10000px;
	position: absolute;
}

#introduction {
  display:flex;
  flex-flow: row wrap;
  column-gap: 20px;
  margin-top: 1.2222222222em;
  line-height: 1.2515644556em;
  /* margin-bottom: 1.2222222222em; */
  border-bottom: 0.3055555556em solid;/* 5.5px / 18px = 0.3055555556*/

}

.heading{
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
}

#about-me{
  display:grid;
  font-size: 1.125em;
  /* grid-template-columns: repeat(auto-fit,minmax(250px,1fr)); */
  grid-template-columns: repeat(3,1fr)
  grid-template-rows: auto;
  /* grid-template-areas: "heading heading heading heading heading","covid-19", "hoobies", "career"; */
  grid-row-gap:2em;
  grid-column-gap:2em;
  line-height: 1.2515644556em;
  margin-top: 1.2222222222em;
  padding: 0.6111111111em;
}
#about-me h3{
  font-weight: bold;
  margin-bottom: 0.6111111111em;
  border-bottom: 0.1527777778em solid #E6CEAE;
  border-width: thin;
  border-radius: 10px;
  display: block;
}
#covid-19, #hobbies, #career {
  background: #444;
  color: #eee;
  padding: 0.6111111111em;


}
#covid-19{
  grid-column-start:1;
  /* grid-column-end: 3; */
  grid-row-start:2;
}
#hobbies{
  grid-column-start:2;
  /* grid-column-end: 3; */
  grid-row-start:2;
}
#career {
  grid-column-start:3;
  /* grid-column-end: 3; */
  grid-row-start:2;
}
#footer{
  background: #FFFFFF;
  padding: 50px 0;
  text-align: center;
  margin-top: 1.2222222222em;
}

@media screen and (max-width: 539px) {
  .photo{
    width: 70%;
  }
}

/* State Styles */
@media screen and (min-width: 540px) {
  .photo{
    width: 80%;
  }
}

@media screen and (min-width: 900px) {
  #introduction figure{
    flex: .1 0 40%;
    min-width: 30%;
  }
  #introduction article{
    flex: 1 0 50%;
    min-width: 50%;
  }
  #introduction h2{
    flex: 1 100%;
    margin-bottom: 0.6111111111em;
  }

}

@media screen and (min-width: 1080px) {
  #page-cover{
    font-size: 1.953em;
  }
}
